.top-menu {
	width:100px;
	height: 30px;
	border-right: 1px solid;
	border-left: 1px solid;
	padding: 2px;	
	text-align: center; 
	float:left;
}
.current-tab {
	border-top: 1px solid #A65508;
	color: #A65508;
	background:#FFEC81; 
	border-bottom: 1px solid #FFEC81;
}
.standart-tab {
	border-top: 1px solid #FFA753;
	color: #A65508;
	background:#FFBA73; 
	cursor: pointer;
	border-bottom: 1px solid #FFA753;
}
.notlink {
	background:#FFBA73; 
}